<!DOCTYPE html>
<html>
  <head>
    <title>Date</title>
  </head>
  <body>
      <h1> Today </h>
        <!-- <% @d = DateTime.now%> -->
        <p>The date is <%= Time.now.strftime('%A')%>,
        <%= Time.now.strftime('%B')%><%= Time.now.strftime('%e')%> <%= Time.now.strftime('%y')%></p>
  </body>
</html>
