<!DOCTYPE html>
<html>
  <head>
    <title>Date</title>
  </head>
  <body>
      <h1> Today </h>
        <!-- <% @d = DateTime.now%> -->
        <p>The date is <%= Time.now.strftime(''%A')</p>
  </body>
</html>
